# Entorno virtual (usás .venv en tu proyecto)
venv/
.venv/

# Archivos de configuración sensibles
.env

# Archivos de base de datos
*.db

# Archivos temporales y caché
__pycache__/
*.pyc
*.pyo
*.log

# Archivos de configuración de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de compilación / distribución
build/
dist/
*.egg-info/
