# Entorno virtual
venv/

# Archivos de base de datos
*.db

# Archivos temporales y caché
__pycache__/
*.pyc
*.pyo
*.log

# Archivos de configuración de VS Code
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db